* {
	font-family: 'Open Sans', sans-serif;
}
p{
	font-size: 15px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Asap', sans-serif;
}
hr{
	margin-left: 0px;
	width: 60px;
	border-top: 3px #f16338 solid;
}
/*Top Bar*/
.topbar-text{
	position: absolute;
	z-index: 3;
	background-color: rgba(255,255,255,0.25) !important;
	font-family: 'Asap', sans-serif;
	width: 100%;
}
.topbar-text a{
	color: #fff;
	font-size: 12px;
}
/************************/
#slider{
	position:absolute;
	z-index: 1;
}
/*NAVBAR*/
#navigation{
	z-index: 3;
}
.nav-normal{
	position: absolute;
	top: 44px;
	width: 100%;
	background-color: rgba(0,0,0,0.4) !important;*/
}
.nav-scroll{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.9) !important;
}
.navbar-custom a:link, .navbar-custom a:visited, .navbar-custom a:focus, a {
	font-family: 'Asap', sans-serif;
	color: #fff;
	font-size: 14px;	
}
.navbar-custom a:active{
	color: #f16338;
}
.navbar-custom a:hover{
	transition: 0.1s; 
	color: #f16338;
}
/*Drop Down Menu*/
.dropdown-menu{
	background-color: rgba(0,0,0,0.5) !important;
}
/*Nav items Center*/
@media screen and (max-width: 991px){
	.navbar-nav li{
		text-align: center;
	}
	.dropdown-menu a{
		text-align: center;
	}
}
/************************/
@media screen and (min-width: 1024px){
	#startchange{
		padding-top:640px;
	}
}
@media screen and (max-width: 1023px){
	#startchange{
		padding-top:62%;
	}
}
/*Z-index absolute position*/
.content{
	position: relative;
	z-index: -1;
	background-color: #f4f4f4;
}
.z-content{
	position: relative;
	z-index: 1;
	background-color: #f4f4f4;	
}
/************************/
.display-6{
	font-size:1.25rem;
	font-weight:250;
	line-height:1.2
}
/*Vision, Mission, Philosophy*/
.headline-1{
	text-align: right;
	padding: 50px 10px 0px 0px;
	line-height: 150%;
}
.headline-2{
	padding: 50px 25px 50px 25px;
}
.headline-2 h5, p {
	line-height: 160%;
}
@media screen and (min-width: 768px){
	.headline-2 .for-border{
		padding-left: 15px;
		border-left: solid 3px #f16338;;
	}
	.p-c1{
		margin-right: 25px;
	}
	.p-c2{
		margin-left: 25px;
	}
}
@media screen and (max-width: 767px){
	.headline-1{
		text-align: left;
		line-height: 120%;
	}
	.headline-2{
		padding: 25px 25px 50px 25px;
	}
}
/*Parallax*/
.parallax{
	padding: 10px;
	background-image: url(../images/paper-mill-industry-135x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;	
	color: #fff;
}
.parallax p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.parallax-content{
	margin-top:50px;
	padding: 10px 10px 0 10px;
	border: #fff solid 1px;
	background-color: rgba(0,0,0,0.6);
}
/*Hire*/
.custom-lead{
	font-size: 17px;
}
.hire a{
	padding: 10px 20px;
	border: solid 1px #fff;
}
.hire a:hover{
	transition: 0.2s;
	color: #f16338 ;
	background-color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border: solid 1px #fff;
}
.hire{
	color: #fff;
	background-color: #464a4e;
}
.hire-img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../images/we-are-hiring.jpg);
	min-height: 200px;
}
/*Owl Carousel*/
.owl_carousel{
	padding-top: 50px;
	padding-bottom: 50px;
}
/*Mini Details*/
.mini-details{
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #000;
	color: #fff;
}
.mini-details .m-row{
	margin-bottom: 0px;
}
.mini-icon{
	text-align: right;
}
#mini-item{
	padding-left: 0px;
	margin-bottom: 20px;
}
/*Footer*/
.footer{
	background-color: #444444;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer p{
	color: #ccc;
	font-size: 14px;
}
.footer ul{
	padding-left: 17px;
	list-style-type: square;
	color: #ccc;
	font-size: 14px;
}
.footer li{
	padding-bottom: 10px;
}
.footer h4{
	color: #fff;
	font-family: 'Asap', sans-serif;
}
.end{
	background-color: #333333;
	padding-top: 15px;
	padding-bottom: 15px;	
}
.footer-block{
	padding-top:15px;
	padding-bottom: 40px;
}

